@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Noto Sans", sans-serif; 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FF69B4;
    color: #E4EEF1;
    height: 12vh;

    img {
        height: 10vh;
    }
    a {
        color: #E4EEF1;
    }
}
.conteinerLogo {
display: flex;
align-items: center;
}
nav {
    width: 35vw;
}
ul {
    display: flex;
    justify-content: space-between;
}

.prevenção {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: #FFD9EC;
    height: 27vh;

    p {
        width: 50%;
        font-size: 18px;
    }

    img {
        height: 25vh;
        border-radius: 5px;
    }
}

.conscientização {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: #FF69B4;
    color: #E4EEF1;
    height: 19vh;

    img {
        width: 30vh;
        border-radius: 5px;
    }
    p {
        width: 50%;
    }
}

.dicas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFD9EC;
    height: 32vh;

    img {
        width: 14vw;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FF69B4;
    height: 10vh;
    
    img {
        height: 10vh;
    }
    p {
        font-size: 1.6vh;
    }
}
.redesSociais {
    width: 10%;

    img {
        height: 4vh;
    }
}
.creditos {
    text-align: center;
    color: #E4EEF1;
}

@media (max-width: 760px) {
    header {
        flex-direction: column;
        height: 20vh;
        
        nav {
            width: 80vw;
            justify-content: space-evenly; 
            font-size: 15px;   
        }   
    }

    .prevenção {
        flex-direction: column;
        height: 50%;

        p {
            width: 80%;
            font-size: 13px;
        }
        img {
            height: 20vh;
        }
    }

    .conscientização {
        flex-direction: column-reverse;
        height: 40%;

        p {
            width: 80%;
            font-size: 13px;
        }
    }

    .dicas {
        height: 30vh;
        img {
            width: 20%;
        }
    }

    footer {
        section {
            width: 39%;
            p {
                font-size: 11px;
            }
        }
        img {
            height: 50px;
        }
    }    
}